<%
const sfTemplatePath = '../../node_modules/@ecomplus/storefront-template/template/pages/'
%>

<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include(`${sfTemplatePath}@/head`, { _ }) %>
  <link rel="stylesheet" type="text/css" href="/storefront.css">
</head>

<body>
  <%- await include(`${sfTemplatePath}@/layout/menu`, { _ }) %>

  <main role="main" id="main">
    <%- await include(`${sfTemplatePath}@/layout/header`, { _ }) %>

    <article id="content">
      <%- await include(`${sfTemplatePath}@/views/home`, { _ }) %>
    </article>

    <%- await include(`${sfTemplatePath}@/layout/footer`, { _ }) %>

    <div id="overlay" class="fade"></div>
  </main>

  <%- await include(`${sfTemplatePath}@/scripts`, { _ }) %>
  <script src="/storefront.js"></script>
</body>

</html>
