<section class="items-carousel my-4">
  <div class="card-deck">
    <div class="row align-items-center">
      <% for (let post in posts) { %>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="card" href="<%= posts[post] %>">
            <a href="<%= post %>">
              <img src="<%= posts[post].thumbnail %>" class="card-img-top" alt="<%= posts[post].alt %>">
            </a>
            <div class="card-body">
              <a href="<%= post %>">
                <h5 class="card-title">
                  <%= posts[post].title %>
                </h5>
              </a>
              <p class="card-text">
                <%= posts[post].description %>
              </p>
              <a href="<%= post %>" class="btn btn-primary">
                Ler mais
              </a>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</section>
