<%= partial('html') %>
<head>
  <%= partial('head', {
    resource: 'brands'
  }) %>
</head>
<%= partial('body') %>
  <%= partial('organisms/header') %>

  <main class="main" id="__main" data-import="retail">
    <div class="container brand py-1 py-sm-2 py-lg-4">
      <div class="_ecom-el" data-type="brand" data-current="true">
        <nav class="d-none d-md-block" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li
              class="breadcrumb-item"
              v-if="body.parent">
              <a v-bind:href="'/' + body.parent.slug">{{ name(body.parent) }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ name() }}
            </li>
          </ol>
        </nav>

        <section class="text-center rounded mb-4 p-3">
          <img
            class="brand__logo img-fluid"
            v-if="body.logo"
            v-bind:src="body.logo[0].url"
            v-bind:alt="body.logo[0].alt" />
          <h1 class="brand__name">
            {{ name() }}
          </h1>
          <div
            v-if="body.pictures && body.pictures.length"
            class="brand__banner">
            <img
              class="img-fluid rounded"
              v-bind:src="body.pictures[0].url"
              v-bind:alt="body.pictures[0].alt" />
          </div>
        </section>
      </div>
      <% if (pages.brands.top) { %>
        <section class="rounded p-3">
          <%= md.render(pages.brands.top) %>
        </section>
      <% } %>
      <div
        class="_ecom-el"
        data-type="brand"
        data-vm="Retail"
        data-search-by="brands"
        data-from="0"
        data-size="20">
        <%= partial('organisms/retail') %>

        <section class="brand__description my-5" v-if="body.body_html">
          <div v-html="body.body_html" class="wysiwyg-content"></div>
        </section>
      </div>
      <% if (pages.brands.botton) { %>
        <section class="rounded p-3">
          <%= md.render(pages.brands.botton) %>
        </section>
      <% } %>
    </div>
  </main>

  <%= partial('organisms/footer') %>
</body>
</html>
