<%= partial('html') %>
<head>
  <%= partial('head') %>
</head>
<%= partial('body') %>
  <%= partial('organisms/header') %>
  <%= partial('molecules/photoswipe') %>

  <main class="main" id="__main" data-import="product">
    <div class="container py-1 py-sm-2 py-lg-4">
      <div class="_ecom-el" data-type="product" data-current="true">
        <nav class="d-none d-md-block" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fas fa-home"></i>
              </a>
            </li>
            <li
              class="breadcrumb-item"
              v-if="splitCategoryTree().length"
              v-for="category in splitCategoryTree()">
              <a v-bind:href="'/' + category.slug">{{ name(category) }}</a>
            </li>
            <li
              class="breadcrumb-item"
              v-else-if="body.categories && body.categories.length">
              <a v-bind:href="'/' + body.categories[0].slug">{{ name(body.categories[0]) }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ name() }}
            </li>
          </ol>
        </nav>

        <section class="row product my-3">
          <div class="col col-lg-5" v-if="body.pictures && body.pictures.length">
            <div class="glide" data-global="Stage">
              <div class="glide__track product__stage border" data-glide-el="track">
                <ul class="glide__slides">
                  <li class="glide__slide" v-for="(picture, index) in body.pictures">
                    <a
                      href="javascript:;"
                      v-bind:onclick="'openGallery(' + index + ');'"
                      class="d-block">
                      <img
                        class="lozad-ecom product__picture fade img-fluid"
                        v-bind:data-src="picture.big.url"
                        v-bind:alt="picture.big.alt" />
                    </a>
                  </li>
                </ul>
                <div class="glide__arrows glide__arrows--outer" data-glide-el="controls">
                  <button
                    class="glide__arrow glide__arrow--left"
                    data-glide-dir="<">
                    <i class="fas fa-chevron-left"></i>
                  </button>
                  <button
                    class="glide__arrow glide__arrow--right"
                    data-glide-dir=">">
                    <i class="fas fa-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
            <div
              class="glide d-none d-md-block"
              data-pagination="false"
              data-global="Thumbs"
              data-per-view="4">
              <div class="glide__track product__thumbs" data-glide-el="track">
                <ul class="glide__slides" id="thumbs">
                  <li class="glide__slide" v-for="(picture, index) in body.pictures">
                    <a
                      href="javascript:;"
                      v-bind:onclick="'moveStage(' + index + ');'"
                      class="d-block">
                      <img
                        class="img-fluid"
                        v-bind:src="picture.small.url"
                        v-bind:alt="picture.small.alt" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col col-lg-7">
            <h1>{{ name() }}</h1>
          </div>
        </section>
      </div>
    </div>
  </main>

  <%= partial('organisms/footer') %>
</body>
</html>
