<%= partial('html') %>
<head>
  <%= partial('head', {
    title: pages.home.title
  }) %>
</head>
<%= partial('body') %>
  <%= partial('organisms/header') %>

  <main class="main">
    <!-- Full width content -->
    <%= partial('molecules/banner-slider', {
      autoplay: 9000,
      slides: [
        {
          link: '#',
          img: '/img/uploads/banner1.png'
        },
        {
          link: '#',
          img: '/img/uploads/banner2.png'
        }
      ]
    }) %>
    <%= partial('molecules/pitbar') %>

    <div class="container py-1 py-sm-2 py-lg-4">
      <!-- Containerized page content -->
      <% pages.home.showcase.forEach(carousel => { %>
        <%= partial('organisms/items-carousel', carousel) %>
      <% }) %>
    </div>

  </main>

  <%= partial('organisms/footer') %>

  <!-- Netlify Identity for CMS -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", function (user) {
        if (!user) {
          window.netlifyIdentity.on("login", function () {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
