<%= partial('html') %>
<head>
  <%= partial('head', {
    title: pages.home.title
  }) %>
</head>
<%= partial('body') %>
  <%= partial('organisms/header') %>

  <main class="main">
    <!-- Full width content -->
    <%= partial('molecules/banner-slider', pages.home.slider) %>
    <%= partial('molecules/pitbar') %>

    <div class="container py-1 py-sm-2 py-lg-4">
      <!-- Containerized page content -->
      <% if (pages.home.top) { %>
        <section class="rounded p-3">
          <%= md.render(pages.home.top) %>
        </section>
      <% } %>
      <% pages.home.showcase.forEach(carousel => { %>
        <%= partial('organisms/items-carousel', carousel) %>
      <% }) %>
      <% if (pages.home.botton) { %>
        <section class="rounded p-3">
          <%= md.render(pages.home.botton) %>
        </section>
      <% } %>
    </div>
  </main>

  <%= partial('organisms/footer') %>

  <!-- Netlify Identity for CMS -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", function (user) {
        if (!user) {
          window.netlifyIdentity.on("login", function () {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
