<%= include('html') %>
<head>
  <%= include('head', {
    title: pages.home.title
  }) %>
</head>
<%= include('body') %>
  <%= include('templates/header') %>

  <main>
    <!-- Full width content -->
    <%= include('molecules/banner-slider', {
      autoplay: 9000,
      slides: [
        {
          link: '#',
          img: '/img/uploads/lauren-fleischmann-469994-unsplash.jpg'
        },
        {
          link: '#',
          img: '/img/uploads/andrew-tanglao-505288-unsplash.jpg'
        }
      ]
    }) %>
    <%= include('molecules/pitbar') %>

    <div class="container">
      <!-- Containerized page content -->
      <%= include('organisms/items-carousel', {
        collection: '1'
      }) %>
    </div>
  </main>

  <%= include('templates/footer') %>

  <!-- Netlify Identity for CMS -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", function (user) {
        if (!user) {
          window.netlifyIdentity.on("login", function () {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
