<%= partial('html') %>
<head>
  <%= partial('head', {
    title: pages.home.title
  }) %>
</head>
<%= partial('body') %>
  <%= partial('organisms/header') %>

  <main class="main">
    <!-- Full width content -->
    <%= partial('molecules/banner-slider', pages.home) %>
    <%= partial('molecules/pitbar', pages.home) %>

    <div class="container py-1 py-sm-2 py-lg-4">
      <!-- Containerized page content -->
      <% pages.home.showcase.forEach(item => {%>
        <%= partial('organisms/items-carousel', item.collection) %>
      <% }) %>
    </div>
    
  </main>

  <%= partial('organisms/footer') %>

  <!-- Netlify Identity for CMS -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", function (user) {
        if (!user) {
          window.netlifyIdentity.on("login", function () {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
