<div class="header bg-light">
  <div class="header__countdown st-block-secondary text-center lead p-2">
    <% if (layout.header.marketing_stripe.text) { %>
      <%- layout.header.marketing_stripe.text %>
    <% } %>
    <button class="btn btn-sm ml-2 btn-outline-light" href="<% if (layout.header.marketing_stripe.call_to_action_link) { %> <%- layout.header.marketing_stripe.call_to_action_link %><% } %>">
      <% if (layout.header.marketing_stripe.call_to_action) { %>
        <%- layout.header.marketing_stripe.call_to_action %>
      <% } %>
    </button>
  </div>
  <div class="header__bar bg-light text-muted font-weight-bold pt-2 pb-1 px-lg-3 d-none d-md-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col header__bar-left">
          <a href="about-us">
            About us
          </a>
          <a href="contact">
            Contact
          </a>
          <% if (layout.header.contacts_stripe.whatsapp) { %>
            <a
              href="#"
              target="_blank"
              class="whatsapp-link font-weight-normal"
              data-tel="<%- layout.header.contacts_stripe.whatsapp %>">
              <i class="fab fa-whatsapp"></i>
               <%- layout.header.contacts_stripe.whatsapp %>
            </a>
          <% } %>
          <a
            href="tel:+553137778888"
            class="font-weight-normal"
            target="_blank">
            <i class="fas fa-phone"></i>
            <small>(31)</small> 3777-8888
          </a>
        </div>
        <div class="col-auto">
          <a href="#" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EcomNavbar slots -->
<header id="navbar" class="ecom-navbar bg-light">
  <div
    class="_ecom-el ecom-navbar__title"
    data-type="store"
    data-ssr="no-hydration"
    data-slot="header-col-1">
    <a href="/">
      <img
        v-if="body.logo"
        v-bind:src="body.logo.url"
        v-bind:alt="body.logo.alt"
        class="py-xl-1" />
      <h2 v-else>
        {{ body.name }}
      </h2>
    </a>
  </div>
  <ul
    class="_ecom-el ecom-navbar__menu st-block-primary"
    data-type="category"
    data-ssr="no-hydration"
    data-list-all="true"
    data-slot="nav">
    <li v-for="category in body.result" v-if="!category.parent">
      <a v-bind:href="'/' + category.slug">
        <img
          v-if="category.icon"
          v-bind:src="category.icon.url"
          class="mr-1" />
        {{ category.name }}
      </a>
      <span v-if="filterByParentSlug(body.result, category.slug).length">
        <a href="javascript:;" class="px-1">
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="ecom-navbar__submenu dropdown-menu">
          <a
            class="dropdown-item"
            v-bind:href="'/' + subcategory.slug"
            v-for="subcategory in filterByParentSlug(body.result, category.slug)">
            {{ subcategory.name }}
          </a>
        </ul>
      </span>
    </li>
  </ul>
</header>
