<div class="header bg-light">
  <% if (layout.header.marketing_stripe.text || layout.header.marketing_stripe.call_to_action) { %>
    <% if (layout.header.marketing_stripe.text ) { %>
  <div class="header__countdown st-block-secondary text-center lead p-2">
      <%- layout.header.marketing_stripe.text %>
    <% } %>
    <button class="btn btn-sm ml-2 btn-outline-light" href="<% if (layout.header.marketing_stripe.call_to_action_link) { %> <%- layout.header.marketing_stripe.call_to_action_link %><% } %>">
      <% if (layout.header.marketing_stripe.call_to_action) { %>
        <%- layout.header.marketing_stripe.call_to_action %>
      <% } %>
    </button>
  </div>
  <% } %>
  <div class="header__bar bg-light text-muted font-weight-bold pt-2 pb-1 px-lg-3 d-none d-md-block">
    <div class="container-fluid">
      <div class="row">
        <div class="col header__bar-left">
          <% if (layout.header.contacts_stripe.pages) { %>
            <% layout.header.contacts_stripe.pages.forEach(page => {%>
              <a href="<%- page.link %>">
                <%- page.title %>
              </a>
            <% }) %>
          <% } %>
          <% if (layout.header.contacts_stripe.phone_wpp) { %>
            <% if (settings.contacts.whatsapp) { %>
              <a
                  href="#"
                  target="_blank"
                  class="whatsapp-link font-weight-normal"
                  data-tel="<%- settings.contacts.whatsapp.replace(/\D/g, '') %>">
                <i class="fab fa-whatsapp"></i>
                <%- settings.contacts.whatsapp %>
              </a>
              <% } %>
            <% if (settings.contacts.phone) { %>
              <a
                href="tel:+<%= settings.contacts.phone.replace(/\D/g, '') %>"
                class="font-weight-normal"
                target="_blank">
                <i class="fas fa-phone"></i>
                 <%- settings.contacts.phone %>
              </a>
            <% } %>
          <% } %>
        </div>
        <% if (layout.header.contacts_stripe.socials) { %>
          <div class="col-auto">
            <% if (settings.contacts.facebook) { %>
              <a href="<%- settings.contacts.facebook %>" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            <% } %>
            <% if (settings.contacts.youtube) { %>
              <a href="<%- settings.contacts.youtube %>" target="_blank">
                <i class="fab fa-youtube"></i>
              </a>
            <% } %>
            <% if (settings.contacts.instagram) { %>
              <a href="<%- settings.contacts.instagram %>" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            <% } %>
            <% if (settings.contacts.twitter) { %>
              <a href="<%- settings.contacts.twitter %>" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            <% } %>
            <% if (settings.contacts.pinterest) { %>
              <a href="<%- settings.contacts.pinterest %>" target="_blank">
                <i class="fab fa-pinterest"></i>
              </a>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<header id="navbar" class="ecom-navbar bg-light">
  <div
    class="_ecom-el ecom-navbar__title"
    data-type="store"
    data-ssr="no-hydration"
    data-slot="header-col-1">
    <a href="/">
      <img
        v-if="body.logo"
        v-bind:src="body.logo.url"
        v-bind:alt="body.logo.alt"
        class="py-xl-1" />
      <h2 v-else>
        {{ body.name }}
      </h2>
    </a>
  </div>
  <ul
    class="_ecom-el ecom-navbar__menu st-block-primary"
    data-type="category"
    data-ssr="no-hydration"
    data-list-all="true"
    data-slot="nav">
    <li v-for="category in body.result" v-if="!category.parent">
      <a v-bind:href="'/' + category.slug">
        <img
          v-if="category.icon"
          v-bind:src="category.icon.url"
          class="mr-1" />
        {{ category.name }}
      </a>
      <span v-if="filterByParentSlug(body.result, category.slug).length">
        <a href="javascript:;" class="px-1">
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="ecom-navbar__submenu dropdown-menu">
          <a
            class="dropdown-item"
            v-bind:href="'/' + subcategory.slug"
            v-for="subcategory in filterByParentSlug(body.result, category.slug)">
            {{ subcategory.name }}
          </a>
        </ul>
      </span>
    </li>
  </ul>
</header>
