<%
const sfTemplatePath = '../../node_modules/@ecomplus/storefront-template/template/pages/'
%>

<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include(`../${sfTemplatePath}@/head`, { _ }) %>
  <link rel="stylesheet" type="text/css" href="/storefront.css">

  <%- await include('../@custom-html/head', { _ }) %>
</head>

<body>
  <%- await include(`../${sfTemplatePath}@/layout/menu`, { _ }) %>

  <main role="main" id="main">
    <%- await include(`../${sfTemplatePath}@/layout/header`, { _ }) %>

    <article id="content">
      <%- await include('../@custom-html/append-top', { _ }) %>

      <%- await include(`../${sfTemplatePath}@/views/e500`, { _ }) %>

      <%- await include('../@custom-html/append-bottom', { _ }) %>
    </article>

    <%- await include(`../${sfTemplatePath}@/layout/footer`, { _ }) %>

    <%- await include('../@custom-html/append-footer', { _ }) %>

    <div id="overlay" class="fade"></div>
  </main>

  <%- await include(`../${sfTemplatePath}@/scripts`, { _ }) %>

  <%- await include('../@custom-html/scripts', { _ }) %>

  <script src="/storefront.js"></script>
</body>

</html>
